#post {
  border: 2px solid red;
  max-width: fit-content;
  margin: 2em;
}
































/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
